<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>★☆☆☆☆</string>
		<key>shortcut</key>
		<string>/1star</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★★☆☆☆</string>
		<key>shortcut</key>
		<string>/2star</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★★★☆☆</string>
		<key>shortcut</key>
		<string>/3star</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★★★★☆</string>
		<key>shortcut</key>
		<string>/4star</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★★★★★</string>
		<key>shortcut</key>
		<string>/5star</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎥 🟩 ⬛️ ⬛️ ⬛️ ⬛️ ⬛️</string>
		<key>shortcut</key>
		<string>/framed1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎥 🟥 🟩 ⬛️ ⬛️ ⬛️ ⬛️</string>
		<key>shortcut</key>
		<string>/framed2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎥 🟥 🟥 🟩 ⬛️ ⬛️ ⬛️</string>
		<key>shortcut</key>
		<string>/framed3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎥 🟥 🟥 🟥 🟩 ⬛️ ⬛️</string>
		<key>shortcut</key>
		<string>/framed4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎥 🟥 🟥 🟥 🟥 🟩 ⬛️</string>
		<key>shortcut</key>
		<string>/framed5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎥 🟥 🟥 🟥 🟥 🟥 🟩</string>
		<key>shortcut</key>
		<string>/framed6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎥 🟥 🟥 🟥 🟥 🟥 🟥</string>
		<key>shortcut</key>
		<string>/framed7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎥 🟥 🟥 🟥 🟥 🟥 🟥</string>
		<key>shortcut</key>
		<string>/framedx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>/darr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>/larr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>/rarr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>/uarr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>№</string>
		<key>shortcut</key>
		<string>/numero</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⓪</string>
		<key>shortcut</key>
		<string>/no0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>①</string>
		<key>shortcut</key>
		<string>/no1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>②</string>
		<key>shortcut</key>
		<string>/no2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>③</string>
		<key>shortcut</key>
		<string>/no3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>④</string>
		<key>shortcut</key>
		<string>/no4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑤</string>
		<key>shortcut</key>
		<string>/no5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑥</string>
		<key>shortcut</key>
		<string>/no6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑦</string>
		<key>shortcut</key>
		<string>/no7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑧</string>
		<key>shortcut</key>
		<string>/no8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑨</string>
		<key>shortcut</key>
		<string>/no9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⓪</string>
		<key>shortcut</key>
		<string>/num0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>①</string>
		<key>shortcut</key>
		<string>/num1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>②</string>
		<key>shortcut</key>
		<string>/num2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>③</string>
		<key>shortcut</key>
		<string>/num3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>④</string>
		<key>shortcut</key>
		<string>/num4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑤</string>
		<key>shortcut</key>
		<string>/num5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑥</string>
		<key>shortcut</key>
		<string>/num6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑦</string>
		<key>shortcut</key>
		<string>/num7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑧</string>
		<key>shortcut</key>
		<string>/num8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑨</string>
		<key>shortcut</key>
		<string>/num9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₁</string>
		<key>shortcut</key>
		<string>/sub1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₂</string>
		<key>shortcut</key>
		<string>/sub2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₃</string>
		<key>shortcut</key>
		<string>/sub3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₄</string>
		<key>shortcut</key>
		<string>/sub4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₅</string>
		<key>shortcut</key>
		<string>/sub5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₆</string>
		<key>shortcut</key>
		<string>/sub6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₇</string>
		<key>shortcut</key>
		<string>/sub7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₈</string>
		<key>shortcut</key>
		<string>/sub8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₉</string>
		<key>shortcut</key>
		<string>/sub9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¹</string>
		<key>shortcut</key>
		<string>/sup1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>²</string>
		<key>shortcut</key>
		<string>/sup2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>³</string>
		<key>shortcut</key>
		<string>/sup3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁴</string>
		<key>shortcut</key>
		<string>/sup4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁵</string>
		<key>shortcut</key>
		<string>/sup5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁶</string>
		<key>shortcut</key>
		<string>/sup6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁷</string>
		<key>shortcut</key>
		<string>/sup7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁸</string>
		<key>shortcut</key>
		<string>/sup8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁹</string>
		<key>shortcut</key>
		<string>/sup9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>½</string>
		<key>shortcut</key>
		<string>1/2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅓</string>
		<key>shortcut</key>
		<string>1/3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¼</string>
		<key>shortcut</key>
		<string>1/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅕</string>
		<key>shortcut</key>
		<string>1/5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅙</string>
		<key>shortcut</key>
		<string>1/6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅛</string>
		<key>shortcut</key>
		<string>1/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅔</string>
		<key>shortcut</key>
		<string>2/3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅖</string>
		<key>shortcut</key>
		<string>2/5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¾</string>
		<key>shortcut</key>
		<string>3/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅗</string>
		<key>shortcut</key>
		<string>3/5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅜</string>
		<key>shortcut</key>
		<string>3/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅘</string>
		<key>shortcut</key>
		<string>4/5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅚</string>
		<key>shortcut</key>
		<string>5/6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅝</string>
		<key>shortcut</key>
		<string>5/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅞</string>
		<key>shortcut</key>
		<string>7/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>x*</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>÷</string>
		<key>shortcut</key>
		<string>./.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>=/=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>!=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>±</string>
		<key>shortcut</key>
		<string>+-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≥</string>
		<key>shortcut</key>
		<string>=&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≥</string>
		<key>shortcut</key>
		<string>&gt;=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≤</string>
		<key>shortcut</key>
		<string>=&lt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≤</string>
		<key>shortcut</key>
		<string>&lt;=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>°</string>
		<key>shortcut</key>
		<string>/deg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℃</string>
		<key>shortcut</key>
		<string>/degc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℉</string>
		<key>shortcut</key>
		<string>/degf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℅</string>
		<key>shortcut</key>
		<string>c/o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❤️</string>
		<key>shortcut</key>
		<string>&lt;3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>©</string>
		<key>shortcut</key>
		<string>(c)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℗</string>
		<key>shortcut</key>
		<string>(p)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>®</string>
		<key>shortcut</key>
		<string>(r)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>™</string>
		<key>shortcut</key>
		<string>/tm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>CO₂</string>
		<key>shortcut</key>
		<string>co2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>CO₂</string>
		<key>shortcut</key>
		<string>CO2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>H₂O</string>
		<key>shortcut</key>
		<string>h2o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>H₂O</string>
		<key>shortcut</key>
		<string>H2O</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╯°□°）╯︵ ┻━┻</string>
		<key>shortcut</key>
		<string>/flip</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ಠ_ಠ</string>
		<key>shortcut</key>
		<string>/scowl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>/shrug</string>
	</dict>
</array>
</plist>